@import url("https://fonts.googleapis.com/css2?family=Alegreya+Sans+SC:wght@100&display=swap");
@import url("https://fonts.googleapis.com/css?family=Orbitron&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  font-size: 10px;
  line-height: 1.5;
  color: #000;
  scroll-behavior: smooth;
  overflow-x: hidden;
  text-size-adjust: 100%;
  letter-spacing: -0.23px;
  font-family: "arial", sans-serif;
  word-break: break-all;
}
ul,
ol,
li {
  list-style: none;
}
a {
  display: block;
  text-decoration: none;
  color: #000;
}
img {
  vertical-align: middle;
  border: 0;
}
